<dt>
  <%= link_to h(entry.title), entry_path(entry) %>
  <span class="date">
    (<%= h entry.created_at.strftime("%Y.%m.%d") %>)
  </span>
</dt>
<dd>
  <%= image_tag(url_for_file_column(entry, :image)) if entry.image %>
  <%= simple_format(auto_link(entry.content)) %>
</dd>
<dd>
  <%= link_to( "Comments (#{entry.comments_count})", entry_path(entry) + '#comments') %>
  <%= link_to "Trackbacks (#{entry.trackbacks_count})", entry_path(entry) + '#trackbacks' %>

  Tags:
  <% entry.tag_list.each do |tag| %>
    <%= link_to h(tag), :action => 'index', :tag => tag %>
  <% end %>
</dd>
<% content_tag :dd, :class => "operation" do %>
  <%= link_to '編集', edit_entry_path(entry) %>
  <%= link_to '削除', entry, :confirm => '本当によろしいですか?', :method => :delete %>
<% end if logged_in? %>
<hr/>