<% form_for(@entry, :html => {:multipart => true}) do |f| %>
<p>
  <%= f.label :title, 'タイトル' %>
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label :content, '内容' %>
  <%= f.text_area :content %>
</p>
<p>
  <%= f.label :image, '画像' %>
  <%= f.file_field :image %>
</p>
<p>
  <%= f.label :tag_list, 'タグ' %>
  <%= f.text_field :tag_list %>
</p>
<p>
  <%= f.submit "送信" %>
</p>
<% end %>