<dl>
  <%= render :partial => @entry %>

  <dd id="trackbacks">
    <h2>Trackbacks</h2>
    <div class="trackback">
      <strong>トラックバックURL:</strong>
      <%= h formatted_entry_trackbacks_url(@entry, :xml) %>
    </div>

    <% @entry.trackbacks.each do |tb| %>
    <div class="trackback">
      <%= h tb.blog_name if blog_name %>
      "<%= link_to(h(tb.title), tb.url) %>"
      <%= h tb.created_at.strftime("%Y.%m.%d (%H:%M)") %>
      <%= link_to('削除', [@entry, tb],
        :confirm   => '本当によろしいですか?',
        :method    => :delete,
        :class     => 'operation') if logged_in? %><br />
      <%= truncate(tb.excerpt, 60) %>
    </div>
    <% end %>
  </dd>
  <dd id="comments">
    <h2>Comments</h2>
    <% @entry.comments.each do |comment| %>
    <div class="comment">
      <%= link_to_unless(comment.url.blank?, h(comment.name), comment.url) %>
      <%= h comment.created_at.strftime("%Y.%m.%d") %>
      <%= link_to('削除', [@entry, comment], :confirm => '本当によろしいですか?', :method => :delete, :class => 'operation') if logged_in? %>
      <br />
      <%= simple_format(h(comment.content)) %>
    </div>
    <% end %>
  </dd>

  <dd id="add_comment">
    <h2>Post a comment</h2>
    <%= error_messages_for :comment %>
    <% form_for([@entry, @comment ||= Comment.new]) do |f| %>
    <p>
      <%= f.label :name, '名前' %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :email, 'メールアドレス（非表示）' %>
      <%= f.text_field :email %>
    </p>
    <p>
      <%= f.label :url, 'WEBサイト（オプション）' %>
      <%= f.text_field :url %>
    </p>
    <p>
      <%= f.label :content, '内容' %>
      <%= f.text_area :content %>
    </p>
    <p>
      <%= f.submit "送信" %>
    </p>
    <% end %>
  </dd>
</dl>

<div class="operation">
  <%= link_to '一覧に戻る', entries_path %>
</div>
