<h1>Editing trackback</h1>

<% form_for(@trackback) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :excerpt %><br />
    <%= f.text_area :excerpt %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :blog_name %><br />
    <%= f.text_field :blog_name %>
  </p>
  <p>
    <%= f.label :entry %><br />
    <%= f.text_field :entry %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @trackback %> |
<%= link_to 'Back', trackbacks_path %>